<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_for @user, url: {action: 'update'}, multipart: true do |f| %>
          <div id="edit-profile-header-wrapper" class="row no-gutters">
            <div class="col-md-12">
              <div class="form-group text-center">
                <p class="h5 text-uppercase">change your profile image</p>
                <div class="img-circle">
                  <%= profile_avatar_select(@user) %>
                  <div id="" class="form-group text-center">
                    <%=  f.file_field :avatar, onChange: 'loadFile(event)', class: 'edit-profile-upload' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-12">
              <div id=""class="form-group text-center">
                <p class="h5 text-uppercase">update your bio</p>
              </div>
              <%= f.text_area :bio, label: false, rows: 4, id: "edit-profile-bio" %>
            </div>
          </div>

          <div class="form-group text-center">
            <%= link_to 'Cancel', profile_path(@user.user_name), class: "btn btn-danger" %>
            <%= f.submit "Update Profile", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
