<%= provide(:title, "#{@user.user_name}") %>
<div class="posts-wrapper">
  <div class="row profile-header no-gutters">
    <div id="user_avatar_wrapper" class="col-md-6">
      <div class="img-circle">
        <%= profile_avatar_select(@user) %>
      </div>
    </div>
    <div id="profile-details-wrapper" class="col-md-6">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name">
          <%= @user.user_name %>
          <% if @user.verified %>
          <%= fa_icon("check-circle", class: "user-verified") %>
          <% end %>
        </h3>
        <span>
          <% if @user === current_user %>
            <%= link_to 'Edit Profile', edit_profile_path(@user.user_name), class: 'btn edit-button' %>
          <% elsif current_user_is_following(current_user.id, @user.id) %>
            <%= link_to 'Follow', follow_user_path, remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %>
          <% else %>
            <%= link_to 'Following', unfollow_user_path, remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post %>
          <% end %>
        </span>
        <p class="profile-bio text-justify">
          <%= @user.bio %>
        </p>
        <div class="user-statistics">
          <p class="d-inline-block"><%= pluralize(@user.posts.count, 'post') %></p>
          <p class="d-inline-block"><%= pluralize(@user.followers.count, 'follower') %></p>
          <p class="d-inline-block"><%= "#{@user.following.count} following" %></p>
        </div>
      </div>
    </div>
  </div>

  <div id="posts" class="posts-wrapper row no-gutters">
    <div class="col">
      <%= render 'posts/posts'%>
    </div>
  </div>
</div>
