<div class="post-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= link_to p.user.user_name, profile_path(p.user.user_name) %>
        <% if p.user.verified %>
          <%= fa_icon("check-circle", class: "user-verified") %>
        <% end %>
      </div>
      <div class="time-ago">
        <%= "#{time_ago_in_words(p.created_at)} ago" %>
      </div>
      <%#= render 'posts/post_settings', p: p %>
    </div>
    <div class="image center-block">
      <%= link_to(image_tag( p.image.url(:medium), class: "img-responsive" ), post_path(p) )%>
    </div>
    <div class="post-bottom">
      <%= render 'posts/likes', post: p %>
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= link_to p.user.user_name, profile_path(p.user.user_name) %>
          </div>
          <%= p.caption %>
        </div>
      </div>
      <div id="<%= "comments_#{p.id}" %>" class="comments">
        <% if p.comments.any? %>
          <div class="paginator" id="comments-paginator-<%= "#{p.id}" %>">
            <% unless p.comments.count <= 4 %>
              <%= link_to "view all #{p.comments.count} comments", post_comments_path(p), remote: true, class: 'more-comments', data: { post_id: "#{p.id}", type: "html" } %>
            <% end %>
          </div>
          <%= render p.comments.last(4), p: p %>
        <% end %>
      </div>
      <div class="comment-like-form row">
        <div class="like-button col-sm-1">
          <%= link_to fa_icon("#{liked_post(p)}", id: "like_#{p.id}"), "#{check_link_path(p)}", remote: true %>
        </div>
        <%= render 'comments/form', p: p %>
      </div>
    </div>
  </div>
</div>
