<div class="post-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= p.user.user_name %>
      </div>
      <%= render 'posts/post_settings', p: p %>
    </div>
    <div class="image center-block">
      <%= link_to(image_tag( p.image.url(:medium), class: "img-responsive" ), post_path(p) )%>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= p.user.user_name %>
          </div>
          <%= p.caption %>
        </div>
      </div>
      <div id="<%= "comments_#{p.id}" %>">
        <% if p.comments %>
          <% p.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, p: p %>
          <% end %>
        <% end %>
      </div>
      <div class="comment-like-form row">
        <div class="like-button col-sm-1">
          <%= fa_icon("heart-o") %>
        </div>
        <%= render 'comments/form', p: p %>
      </div>
    </div>
  </div>
</div>
