<%= provide(:title, 'New Post') %>
<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
        <%= simple_form_for @post, multipart: true do |f| %>
          <div class="row no-gutters">
            <div class="col-md-12 text-center">
              <%= f.error_notification %>
            </div>
          </div>
          <div class="container-fluid">
            <div id="upload-form-header" class="text-center">
              <p class="h5 text-uppercase">upload an image</p>
            </div>
            <div class="image-wrap">
              <%#= image_tag("", id: 'image-preview', class: 'image-fluid') %>
              <%= form_image_select(@post) %>
            </div>
            <div id="upload-button-wrapper" class="form-group text-center upload-form-bottom-spacer">
              <%= f.input :image, label: false, input_html: { onChange: 'postLoadFile(event)' } %>
            </div>
            <div class="form-group text-center upload-form-bottom-spacer">
              <%= f.input :caption, label: false, placeholder: 'Add your caption' %>
            </div>
            <div class="form-group text-center upload-form-bottom-spacer">
              <%= f.button :submit, class: 'btn-lg btn-info btn-block' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
