<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= render 'layouts/flash_message' %>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
